body {
  background-color: #F0EAD6;
  border: 30px solid #000000;
  margin: 0px;
  padding: 30px;
}
h1 {
  color: #D2C29D;
  font-size:300%;
  font-family: serif;
}
h2 {
  color: #616247;
  font-size:200%;
  font-family: serif;
}
h3 {
  font-size:150%;
  font-family: serif;
}
p {
  font-size: 100%;
  font-family: sans-serif;
}
ul {
  font-size: 100%;
  font-family: sans-sans-serif;
}
img {
  border: 3px solid #D69C2F;
}
