body {
  background-color: #F0EAD6;
  border: 30px solid #000000;
  margin: 0px;
  padding: 30px;
}
nav {
  color: black;
  float: right;
  width: auto;
  margin-top: 8px;
  margin-right: 8px;
}
h1 {
  color: #776550;
  font-size:300%;
  font-family: serif;
}
h2 {
  color: #797B3A;
  font-size:200%;
  font-family: serif;
}
h3 {
  font-size:150%;
  font-family: serif;
}
p {
  font-size: 100%;
  font-family: sans-serif;
}
ul {
  font-size: 100%;
  font-family: sans-sans-serif;
}
img {
  border: 3px solid #FFC000;
}
