body {
  background-color: #363945;
  border: 30px solid #282D3C;
  margin: 0px;
  padding: 30px;
}
h1 {
  color: LightSeaGreen;
  font-size:300%;
  font-family: serif;
}
h2 {
  font-size:200%;
  font-family: serif;
}
h3 {
  font-size:150%;
  font-family: serif;
}
p {
  font-size: 100%;
  font-family: sans-serif;
}
img {
  border: 3px solid yellow
}
